@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="identitygrid">
    <header style="grid-row: 2/2; grid-column: 2/2">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    </header>
</div>
