@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model BizChat.Models.Server

@{
	ViewData["Title"] = "Index";
}

<!-- Schema asta am furat-o de la _LoginPartial -->
@if (SignInManager.IsSignedIn(User))
{
	<div class="border border-dark" style="background-color:#C4DEE8; grid-column: 1/1;  height: 100%; text-align: center; word-wrap: anywhere; display: flex; flex-direction: column; gap: 2px">
		<partial name="_ServerListPartial" />
	</div>
	<div class="border border-dark" style="grid-column: 2/2;  height: 100%; text-align: center; word-wrap: anywhere">
		@if (ViewBag.ServerId == null)
		{
			<div style="display: flex; justify-content: center; align-items: center; height: 100%;">
				<h3> BizChat </h3>
			</div>
		}
		else
		{
			<partial name="ServerContentPartial" />
		}
	</div>
}
else
{
	<div style="width: 100%; height: 100%; display:flex; grid-column: 1/span 2; justify-content: center; align-content: center; align-items: center; flex-direction: column">
		<h2> Welcome to BizChat! </h2>
		<h4> Create an account or log in by using the buttons at the top of the page</h4>
	</div>
}


