@{
	ViewData["Title"] = "Index";
}



<div class="border border-dark" style="grid-column: 1/1;  height: 100%; text-align: center; text-wrap: wrap">
	<partial name="_ServerListPartial" />
</div>
<div class="border border-dark" style="grid-column: 2/2;  height: 100%; text-align: center; text-wrap: wrap">
	<div>
		Placeholder
	</div>
</div>


