html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.category {
    border: 2px solid transparent;
    border-radius: 5px;
}

.category:hover {
    border: 2px solid;
}

.channel {
    padding-left: 1rem;
}
