html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.category {
    border: 1px solid transparent;
    border-radius: 5px;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
    width: 100%;
}

.category > .category-buttons {
    visibility: hidden;
}

.category:hover {
    border: 1px solid;
}

.category:hover > .category-buttons {
    visibility: visible;
}

.channel {
    border: 1px solid transparent;
    border-radius: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
}
.channel>*{
    display: flex;
    align-items: center;
}

.channel:hover {
    border: 1px solid;
}

.channel_desc{
    display: flex;
    align-items: center;
    padding-left: 0.5em
}

.channel_desc>*{
    margin-left: 0.5em
}

.channel_info{
    display: flex
}

.channel_info > *{
    margin-right: 0.5em
}

button {
    background-color: inherit;
    border: inherit;
    padding: inherit;
}
