@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<style>
    ul > li{
        padding-right: 1em;
        height: 100%
    }
    li > * {
        height: 100%;
    }
</style>
<ul class="navbar-nav" style="display: flex; flex-direction: row; padding-left: 1em; height: 100%">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
    </li>
    <!-- Nu inteleg de ce e stramb, cred ca e blestemat -->
    <li class="nav-item">
        <form  class="form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Servers", new { area = "" })"
                  style="display: flex; align-items: center; justify-content: center">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
    <!-- Ca sa ne intoarcem usor la index -->
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-controller="Servers" asp-action="Index"> Server/Index </a>
    </li>
</ul>
